DATABASE_URL="root:Rootpassword@tcp(db:3306)/devdb?charset=utf8mb4&parseTime=True&loc=Local"
DISCORD_CLIENT_ID=""
DISCORD_CLIENT_SECRET=""
CONFIG_APP_NAME="UniQUE"
CONFIG_FRONTEND_URL="http://localhost:3000"
CONFIG_ISSUER_URL="http://localhost:8000"
CONFIG_ISSUER_INTERNAL_URL="http://auth:8080"
CONFIG_EMAIL_SENDER_URL="http://mailserver:8080"
DISCORD_GUILD_ID="your-guild-id"
DISCORD_BOT_TOKEN="your-token-here"
DISCORD_MEMBER_ROLE_ID="your-member-role-id-here"