CONFIG_APP_NAME="UniQUE"
CONFIG_FRONTEND_URL="http://localhost:3000"
CONFIG_ISSUER_URL="http://auth:8080"
SMTP_HOST="hogehoge.com"
SMTP_PORT="587"
SMTP_USERNAME="test@test.com"
SMTP_PASSWORD="hogehoge"
SMTP_FROM="test@test.com"
# HTTPS
SMTP_SECURE="false"
FROM_NAME="デジタル創作サークルUniProject | UniQUE"
COPYRIGHT_NAME="All-Japan Digital Creative Club UniProject"
GIN_MODE="debug"