AUTH_API_URL="http://localhost:8000"
NEXT_PUBLIC_AUTH_API_URL="http://localhost:8000"
RESOURCE_API_URL="http://localhost:8001"
NEXT_PUBLIC_RESOURCE_API_URL="http://localhost:8001"
NEXT_PUBLIC_FRONTEND_URL="http://localhost:3000"

# Discord OAuth
DISCORD_CLIENT_ID=""
DISCORD_CLIENT_SECRET=""
DISCORD_REDIRECT_URI="http://localhost:3000/api/oauth/discord/callback"
DISCORD_GUILD_ID=""
DISCORD_BOT_TOKEN=""
DISCORD_MEMBER_ROLE_ID=""

GAS_MIGRATE_API_URL=""

NODE_ENV="development"

# CSRF_SECRET_KEY_PATH=""
# CSRF_PUBLIC_KEY_PATH=""
